<% layout ('/layouts/boilerplate_siteadmin')%>
    <h1>VIEW INPUTS</h1>
    <table class="table table-borderless">
        <tr class="table-dark">
            <th>Name</th>
            <th>Email Address</th>
            <th>Category</th>
            <th>Input</th>
            <th>Approved</th>
            <th>Added</th>
    
    
        </tr>
        <% for (let user of users) {%>
            <%if (user.added== 0) { %>
                
                
    
            <tr class="table-light">
                <td>
                    <%= user.name %>
                </td>
                <td><a href="mailto:<%= user.email %>">
                        <%= user.email %>
                    </a></td>
                <td>
                    <%= user.category %>
                </td>
                <td>
                    <%= user.submission %>
                </td>
                <td>
                    
                    <form class="form mt-auto" action="/universityadmin/submitInput/approve" method="POST">

                        <em><label for="email">User email address</label></em>
                        <input class="form-control" type="text" name="email" id="email" required value="<%= user.email %>">
                        <!-- <em><label for="file">File upload</label></em>
                        <input class="form-control-file" type="text" name="file" id="file" required value="<%= user.file %>"> -->
                        <em><label for="category">Input Category</label></em>
                        <input class="form-control" type="text" name="category" id="category" required value="<%= user.category %>">
                        <em><label for="submission">User submission</label></em>
                        <input class="form-control" type="text" name="submission" id="submission" required value="<%= user.submission %>">
                        <em><label for="approved">Approved?</label></em>
                        <%if (user.approved> 0) { %>
                            <input class="form-control" type="text" name="approved" id="approved" required value="Yes">
                            <button class="btn btn-dark">Disapprove</button>
                        <% } else{ %>  
                            <input class="form-control" type="text" name="approved" id="approved" required value="No">
                            <button class="btn btn-dark">Approve</button>
                        <% } %>
                        
                        
                    </form>
                </td>
                <td>
                    <form class="form mt-auto" action="/universityadmin/submitInput/add" method="POST">
                    
                        <em><label for="email">User email address</label></em>
                        <input class="form-control" type="text" name="email" id="email" required value="<%= user.email %>">
                        <!-- <em><label for="file">File upload</label></em>
                        <input class="form-control-file" type="text" name="file" id="file" required value="<%= user.file %>"> -->
                        <em><label for="category">Input Category</label></em>
                        <input class="form-control" type="text" name="category" id="category" required value="<%= user.category %>">
                        <em><label for="submission">User submission</label></em>
                        <input class="form-control" type="text" name="submission" id="submission" required value="<%= user.submission %>">
                        <em><label for="approved">Approved?</label></em>
                        <%if (user.approved> 0) { %>
                            <input class="form-control" type="text" name="approved" id="approved" required value="Yes">
                            <button class="btn btn-success">Add</button>
                            <% } else{ %>
                                <input class="form-control" type="text" name="approved" id="approved" required value="No">
                                <button class="btn btn-success" disabled>Add</button>
                         <% } %>
                         <button class="btn btn-danger" onclick="javascript: form.action='/submitInput/delete'; form.method='POST';">Delete</button>
                    
                    
                    </form>
                </td>
                
    
            </tr>
            <% } %>
            <% }%>
    </table>